.m-xy-1 {
    margin: 80px 110px;
}

.border-Neutral-700 {
 border-color: #4F4F4F !important;
}

.bg-Neutral-700 {
  background-color: #4F4F4F !important;
}

.bg-Primary-50 {
  background-color: #FFF3ED !important;
}

.text-Neutral-300 {
  color: #B0B0B0;
}

.text-Neutral-700 {
  color: #4F4F4F;
}

.text-Primary-900 {
  color: #7E1310;
}

.text-Primary-700 {
  color: #C61408;
}

html {
    scroll-behavior: smooth;
}